/* stylelint-disable no-descending-specificity */
$_datatable-check-column-width: 56px;
$_datatable-border-color: #e1e1e1;

.datatable {
  border: 1px solid $_datatable-border-color;
  }

.datatable__spinner {
  margin-right: .5em;
  }

.datatable__head {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  }
.no-csspositionsticky .datatable__head {
  position: relative;
  }
.datatable__head::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  pointer-events: none;
  height: 10px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .15), cubic-bezier(0.48, 0.3, 0.64, 1), rgba(0, 0, 0, 0));
  }
.no-csspointerevents .datatable__head::after {
  display: none;
  }

.datatable__content > .scroll__shadow {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  }
.no-csspointerevents .datatable__content > .scroll__shadow {
  display: none;
  }

.datatable__table-head::before,
.datatable__content > .scroll__shadow::before,
.datatable__content > .scroll__shadow::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  }

.datatable__content > .scroll__shadow::before,
.datatable__content > .scroll__shadow::after {
  width: 50px;
  }
.datatable__content > .scroll__shadow::before {
  left: calc(#{$_datatable-check-column-width} - 50px);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 0 10px 10px 0 / 0 50% 50% 0;
  clip: rect(0, 65px, auto, 50px);
  }
.datatable__content > .scroll__shadow::after {
  left: 100%;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px 0 0 10px / 50% 0 0 50%;
  }

.datatable__content.scroll .scroll__track._h {
  left: $_datatable-check-column-width;
  margin: 0 26px;
  }


.datatable__table {
  table-layout: fixed;
  width: auto;
  color: #2d2d2d;
  }

.datatable__table-cell,
.datatable__head,
.datatable__empty-msg {
  padding: 1em $horizontal-padding-primary;
  box-sizing: border-box;
  }
th > .datatable__table-cell,
td > .datatable__table-cell {
  max-width: 150px;
  word-wrap: break-word;

  @media screen and (min-width: bp(bp420px)) {
    max-width: 250px;
    }
  }

.datatable__table-head,
.datatable__table-fakehead,
.datatable__table-head > .datatable__table-cell,
.datatable__table-fakehead > .datatable__table-cell {
  width: $_datatable-check-column-width;
  }


.datatable__table-head > .datatable__table-cell {
  padding-top: 0.375em;
  padding-bottom: 0;
  }

.datatable__table > thead > tr:last-child > td,
.datatable__table > thead > tr:last-child > th,
.datatable__head {
  border-bottom: 1px solid $_datatable-border-color;
  }

.datatable__table > thead > tr > th,
.datatable__table > tbody > tr > th {
  text-align: left;
  white-space: nowrap;
  }

.datatable__table > thead > tr > td:last-child,
.datatable__table > thead > tr > th:last-child,
.datatable__table > tbody > tr > td:last-child,
.datatable__table > tbody > tr > th:last-child {
  width: 99%;
  }

.datatable__table-head {
  position: absolute;
  left: 0;
  z-index: 2;
  }
.datatable__table-head::before {
  left: -100px;
  right: 0;
  bottom: -200px;
  background: #fff;
  z-index: -1;
  }
.csspositionsticky .datatable__table-head {
  position: sticky;
  }

.datatable__table-fakehead {
  visibility: hidden;
  }
.csspositionsticky .datatable__table-fakehead {
  display: none;
  }

.datatable__table-data {
  border-top: 1px solid $_datatable-border-color;
  }
.datatable__table-data:last-child {
  border-right: none;
  }
tr:first-child > .datatable__table-data {
  border-bottom: none;
  }
.datatable__table > tbody > tr:nth-child(2n) > .datatable__table-data {
  background-color: #f0f0f0;
  }
.datatable__table > tbody > tr.is-marked > .datatable__table-data {
  background-color: rgba(245, 0, 87, 0.1);
  }
.datatable__table > tbody > tr.is-marked:nth-child(2n) > .datatable__table-data {
  background-color: rgba(245, 0, 87, 0.18);
  }
